body {
    background-color: whitesmoke;
    margin: 0;
  }
  
  /* MENU BAR */
  .img {
    justify-content: center;
  }
  #memoji {
  width: 150px;
  height: 150px;
  border: 1px solid #2B3856;
  border-radius: 70%
  }
  
  .menu-bar {
    position: fixed;
    border: 0;
    background-color: #2B3856;
    display: block;
    width: 200px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .index {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .index h3 {
    color: white;
    opacity: 0.7;
    text-decoration: none;
    cursor: pointer;
  }
 
  .index h3:hover {
    font-size: 1.1em;
    opacity: 1;
    text-shadow: 0.7px 0.7px 0.7px #000;
  }

  /* MAIN SECTION */
  section {
    margin-left: 260px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: 40px;
    font-weight: bold;
  }

  p {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
  }
 
  /* ABOUT part*/

  .title {
    color: navy;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    font-size: 35px;
  }

  .eng_name {
    font-weight: bold;
    font-size: larger;
  }

  .kor_name {
    font-weight: bold;
    font-size: large;
    color: rgb(23, 23, 26);
  }
  
  .icon {
    font-size: medium;
  }

  .contacts {
    font-size: 15px;
    opacity: 0.5;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
  }
  .main-introduction {
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    opacity: 0.8;
  }
  .hashtag {
    color: navy;
    font-weight: bold;
  }
  
  /* EDUCATION part */

  .container {
    width:150px; 
    height:150px; 
    border:1.5px solid whitesmoke; 
    float:left; 
    margin-right:30px; 
    margin-bottom:10px;
  }
  .edud_h2 {
    font-size: 65px;
    font-weight: 700;
    margin-top:25px;
    margin-bottom:25px;
    font-family: 'Oswald', sans-serif;
  }

  .comments {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    opacity: 0.6;
  }

  #ed {
    border-radius: 70%
  }

  
  /* INTERESTS part */

  #int {
    border-radius: 70%
  }

  .int_title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

  button {
    background-color: red;
    color: white;
  }

  .rank {
    font-weight: bold;
  }