body {
    background-color: whitesmoke;
    margin: 0;
  }
  /*.container {
    height: 800px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }*/
  
  /* 프로필 이미지 */
  .img {
    justify-content: center;
  }
  #memoji {
  width: 150px;
  height: 150px;
  border: 1px solid #2B3856;
  transform: scale(1); /* 이미지 사이즈 고정 */
  border-radius: 70%
  }
  
  .menu-bar {
    position: fixed;
    border: 0;
    background-color: #2B3856;
    display: block;
    width: 200px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .index {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  /* 목차 */
  .index h3 {
    color: white;
    opacity: 0.7;
    text-decoration: none;
    cursor: pointer;
  }
  /* 목차 각 항목 반응형 커서 */
  .index h3:hover {
    font-size: 1.1em;
    opacity: 1;
    text-shadow: 0.7px 0.7px 0.7px #000;
  }
  section {
    margin-left: 260px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: xx-large;

}
  p {
    margin: 0;
  }
 
  /* ABOUT part*/
  
  .name {
    font-size: 65px;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
  }
  .contacts {
    font-size: 15px;
    opacity: 0.5;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
  }
  .main-introduction {
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    opacity: 0.8;
  }
  
  /* EDUCATION part */
  .edud_h2 {
    font-size: 65px;
    font-weight: 700;
    margin-top:25px;
    margin-bottom:25px;
    font-family: 'Oswald', sans-serif;
  }
  .comments {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    opacity: 0.6;
  }
  
  /* INTERESTS part */